@charset "utf-8";
/* CSS Document */
VisualL{
	font-family:"PMingLiU", Gadget, sans-serif;
	color:#000000;
	font-weight:900;
	font-size:18px;
	}

VisualM{
	font-family:"PMingLiU", Gadget, sans-serif;
	font-weight: bold;
	color: #000000;
	font-size:16px;
	}

VisualZ{
	font-family:"PMingLiU", Gadget, sans-serif;
	color:#005DBE;
	font-weight:bolder;
	font-size:20px;
	}
.SpecUpload-1 {
  position: relative; z-index: 100000;
  width: 300px;
  height:30px;
  margin-left:1px;
  background:#FFF8DC;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.SpecUpload-BT{
  font-family:"PMingLiU", Gadget, sans-serif;
  font-weight: bold;
  border-color:#AAAAAA;
  border:1px;
  border-radius:3px;
  height:30px;
  width:90px;
  background:#FFF8DC;
  color:#000031;
  font-size:18px;
  border-style:solid;
  cursor:pointer;
  }
.SpecSearch-1 {
  position: relative; z-index: 100000;
  width: 240px;
  height:30px;
  margin-left:1px;
  background:#FFF8DC;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.SpecSearch-BT{
  font-family:"PMingLiU", Gadget, sans-serif;
  font-weight: bold;
  border-color:#AAAAAA;
  border:1px;
  border-radius:3px;
  height:30px;
  width:90px;
  background:#FFF8DC;
  color:#000031;
  font-size:18px;
  border-style:solid;
  cursor:pointer;
  }
.DataUpload-1 {
  position: relative; z-index: 100000;
  width: 120px;
  height:30px;
  margin-left:1px;
  background:#FFF8DC;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.DataUpload-2 {
  position: relative; z-index: 100000;
  width: 180px;
  height:30px;
  margin-left:1px;
  background:#FFF8DC;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.DataUpload-BT{
  font-family:"PMingLiU", Gadget, sans-serif;
  font-weight: bold;
  border-color:#AAAAAA;
  border:1px;
  border-radius:3px;
  height:30px;
  width:90px;
  background:#FFF8DC;
  color:#000031;
  font-size:18px;
  border-style:solid;
  cursor:pointer;
  }
.Visual-1 {
  position: relative; z-index: 100000;
  width: 120px;
  height:25px;
  margin-left:1px;
  background:#E8FFE8;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.Visual-2 {
  position: relative; z-index: 100000;
  width: 180px;
  height:30px;
  margin-left:1px;
  background:#E8FFE8;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.Visual-BT{
  font-family:"PMingLiU", Gadget, sans-serif;
  font-weight: bold;
  border-color:#AAAAAA;
  border:1px;
  border-radius:3px;
  height:30px;
  width:90px;
  background:#E8FFE8;
  color:#000031;
  font-size:18px;
  border-style:solid;
  cursor:pointer;
  }
.ReadData-1 {
  position: relative; z-index: 100000;
  width: 120px;
	height:25px;
	margin-left:1px;
  background:#E8FFE8;
  border-radius: 2px;
  border: 1px;
	border-color:#AAAAAA;
	border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.ReadData-2 {
  position: relative; z-index: 100000;
  width: 180px;
  height:30px;
  margin-left:1px;
  background:#E8FFE8;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.ReadData-BT{
  font-family:"PMingLiU", Gadget, sans-serif;
  font-weight: bold;
  border-color:#AAAAAA;
  border:1px;
  border-radius:3px;
  height:30px;
  width:90px;
  background:#E8FFE8;
  color:#000031;
  font-size:18px;
  border-style:solid;
  cursor:pointer;
  }
 .ReadXBar-1 {
  position: relative; z-index: 100000;
  width: 120px;
  height:25px;
  margin-left:1px;
  background:#E8FFE8;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.ReadXBar-2 {
  position: relative; z-index: 100000;
  width: 180px;
  height:30px;
  margin-left:1px;
  background:#E8FFE8;
  border-radius: 2px;
  border: 1px;
  border-color:#AAAAAA;
  border-style:solid;
  box-shadow:#F99
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color:#000031;
}
.ReadXBar-BT{
  font-family:"PMingLiU", Gadget, sans-serif;
  font-weight: bold;
  border-color:#AAAAAA;
  border:1px;
  border-radius:3px;
  height:30px;
  width:90px;
  background:#E8FFE8;
  color:#000031;
  font-size:18px;
  border-style:solid;
  cursor:pointer;
  }

.ifile {position:absolute;opacity:0;filter:alpha(opacity=0);}

#form1 table tr td l {
	color: #000;
}
#Measure-Data-table-2 {

	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-left:0.5%;
	margin-top:0.5%;
	 width:100%;
}
#Measure-Data-table-2 td{
	padding: 5px;
	text-align:center;
	color: #333;
}
#Measure-Data-table-2 thead {
	width:auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
#Measure-Data-table-2 th {
	width:auto;
	padding: 5px;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-shadow: white 1px 1px 1px;
}
#Measure-Data-table-2 td {

	line-height: 15px;
	width:auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
#Measure-Data-table-2 td:hover {
	background-color: #fff;
}

	BR{height:25px;}

.Visual-Inspection-textcss-1 {
    /* Size and position */
    position: relative; z-index: 100000;
    width: 135px;
	height:25px;
	margin-left:1px;

    /* Styles */
    background:#73B7FF;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}

.Visual-Inspection-textcss-2 {
    /* Size and position */
    position: relative; z-index: 100000;
    width: 140px;
	height:25px;
	margin-left:1px;

    /* Styles */
    background:#73B7FF;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}

.ifile {position:absolute;opacity:0;filter:alpha(opacity=0);}

.Client_CPK-BT{
	font:bold;
	font:,"Arial Black", Gadget, sans-serif;
	border:#009;
	border:1px;
	border-radius:3px;
	height:25px;
	width:70px;
	background-color:#FF9;
	color:#000000;
	font-size:16px;
	border-style:solid;
	cursor:pointer;
	}

.Client_CPK-1{
    /* Size and position */
    position: relative; z-index: 100000;
    width: 80px;
	height:22px;
	margin-left:1px;

    /* Styles */
    background:#FF9;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}

.Client_CPK-2 {
    /* Size and position */
    position: relative; z-index: 100000;
    width: 120px;
	height:25px;
	margin-left:1px;

    /* Styles */
    background:#FF9;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}
.Client_CPK-3 {
    /* Size and position */
    position: relative; z-index: 100000;
    width: 153px;
	height:25px;
	margin-left:1px;

    /* Styles */
    background:#FF9;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}
.Client_CPK-4 {
    /* Size and position */
    position: relative; z-index: 100000;
    width: 65px;
	height:25px;
	margin-left:1px;

    /* Styles */
    background:#FF9;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}

cs2{
  font-family:"Arial Black", Gadget, sans-serif;
  font-style:italic;
  font-size:10px;
  color:#666;
  *width:auto;
}

.Buttom{
	font:,"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:8px;
	height:50px;
	width:200px;
	background-image:url('images/Measure Data.png');
    background-repeat:no-repeat;
    background-position:top;
	color:#000000;
	font-size:20px;
	font-weight:blod;

	}
.Buttom-0 {
	font-size:20px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	padding:10px 20px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	background:-ms-linear-gradient( top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-image:url('images/Measure Data.png');
    background-repeat:no-repeat;
    background-position:top;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #9dce2c), color-stop(100%, #8cb82b) );
	background-color:#9dce2c;
	color:#000000;
	display:inline-block;
	text-shadow:-1px 1px 4px #0;
 	-webkit-box-shadow:inset 5px -41px 0px 19px #87e03a;
 	-moz-box-shadow:inset 5px -41px 0px 19px #87e03a;
 	box-shadow:inset 5px -41px 0px 19px #a3ffa3;
}.Buttom:hover {
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	background:-ms-linear-gradient( top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #8cb82b), color-stop(100%, #9dce2c) );
	background-color:#8cb82b;
}.Buttom:active {
	position:relative;
	top:1px;
}

.BT-1{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:25px;
	width:165px;
	background-color:#FF7573;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}
	.BT-1:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#930;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#FB2258;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}
	.BT-1:active{
		 padding: 6px 15px 5px 15px;
    border-top: 1px solid rgba(0,0,0,0.55);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-animation: none;
    cursor: pointer !important;
	}

.BT-2{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:25px;
	width:165px;
	background-color:#CCCEF0;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}
	.BT-2:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#B3A8FD;
	font-size:16px;
	cursor:pointer;
	}
	.BT-2:active{
		 padding: 6px 15px 5px 15px;
    border-top: 1px solid rgba(0,0,0,0.55);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-animation: none;
    cursor: pointer !important;
	}

.BT-3{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:25px;
	width:165px;
	background-color:#B9FFB7;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}
.BT-3:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#00FF40;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}

	#table1 {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-left:0%;
	margin-top:2%;
}
#table1 td, #table1 th {
	padding: 5px;

	color: #333;
}
#table1 thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: center;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}

#table1 div{
	align:"center";}

#table1 th {
	width:auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-shadow: white 1px 1px 1px;

}
#table1 td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	text-align: center;
}
#table1 td:hover {
	background-color: khaki;
}

banner {color: red; font-size: 20px;
}

leftsidebar {font-size: 17px;
}
